body {
	text-align: center;
	background-image: linear-gradient(#f9f0eb, #edd2c4);
	font-family: 'Siemreap';
	margin-top: 60px;
}

header {
	border: 5px solid white;
}

h1 {
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
}

#map {
	height: 400px;
	width: 95%;
	position: relative;
	text-align: center;
	margin: auto;
}


#existing-reservations {
	position: relative;
	margin-left: 150px;
}


.col-md-4{
	position: relative;
	margin-left: 150px;
}
#right-side {
	position: relative;
	text-align: right;
	margin-right:300px;

}

#left-side{
	position: relative;
	text-align: left;
	margin-left:300px;
}

.main-image {
	border-radius: 2%;
	position: relative;
}

.main2-image {
	border-radius: 3%;
}

.review-image {
	position: relative;
	text-align: center;
	margin: auto;
}

.quote {
	position: relative;
	text-align: center;
	margin:auto;
}

#choice option { color: black; }

.empty { color: gray; }

td {
	text-decoration: underline;
	text-align: left; 
	padding: 5px;
	border: 1px solid black;
}

tr:hover {background-color: white;}

.row {
	margin-bottom: 100px;
}

hr {
    border: 0;
    border-top: 2px solid white;
    margin: 20px 0;
}