body {
	text-align: center;
	background-image: linear-gradient(#f9f0eb, #edd2c4);
	font-family: 'Siemreap';
	margin-top: 60px;
}

h1 {
	text-decoration: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
	font-family: 'Bungee Inline';
}

h2, h3 {
	font-family: 'Bungee Inline';
}

#map {
	height: 400px;
	width: 95%;
	position: relative;
	text-align: center;
	margin: auto;
}


#existing-reservations {
	position: relative;
	margin-left: 150px;
}


.reservation-columns{
	position: relative;
	margin-left: 10%;
	text-align: center;
}

#right-side {
	position: relative;
	text-align: right;
	margin-right:25%;
}

#left-side{
	position: relative;
	text-align: left;
	margin-left:25%;
}

.main-image {
	border-radius: 2%;
	position: relative;
}


.review-image {
	position: relative;
	text-align: center;
	margin: auto;
}

.quote {
	position: relative;
	text-align: center;
	margin:auto;
}


td {
	text-decoration: underline;
	text-align: left; 
	padding: 5px;
	border: 1px solid black;
}

tr:hover {background-color: #edd2c4;}

.row {
	margin-bottom: 100px;
}

hr {
    border: 0;
    border-top: 2px solid white;
    margin: 20px 0;
}